name: Build README

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '32 * * * *'

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repo
      uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    - uses: actions/cache@v4
      name: Configure pip/precommit caching
      with:
        path: |
          ~/.cache/pip
          ~/.cache/pre-commit
        key: ${{ runner.os }}-deps-${{ hashFiles('.pre-commit-config.yaml', 'requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-deps-
    - name: Update README
      run: |-
        make rebuild
        cat README.md
    - name: Check precommit
      run: make pre-commit
    - name: Commit and push if changed
      run: |-
        git diff
        git config --global user.email "readme-bot@example.com"
        git config --global user.name "README-bot"
        git add -A
        git commit -m "Updated content" || exit 0
        git push
